@model IGrad.Models.User.HighSchoolInfo

<script type="text/javascript">
    $("#submitButton").click(function (e) {
        if ($('#last-attended').length > 0 && $('#lastAttendedTrue').is(':checked')) {
            e.preventDefault();
            alert("Cannot add another last attended highschool.");
        }
    })
</script>

@using (Ajax.BeginForm("SubmitHighSchoolInfoPartial", "Application",null, new AjaxOptions()
{
    HttpMethod = "Post",
    UpdateTargetId = "highschool-info",
    InsertionMode = InsertionMode.Replace,

}, new { @id = "add-hs-form" }))
{
    @Html.AntiForgeryToken()
    <div class="" id="add-highschool-form">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.HighSchoolName, htmlAttributes: new { @class = "control-label required-marker" })
                @Html.EditorFor(model => model.HighSchoolName, new { htmlAttributes = new { @class = "form-control hs-info", @placeholder = "School name" } })
                @Html.ValidationMessageFor(model => model.HighSchoolName, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(model => model.HighSchoolYear, htmlAttributes: new { @class = "control-label required-marker" })
                @Html.EditorFor(model => model.HighSchoolYear, new { htmlAttributes = new { @class = "form-control hs-info", @placeholder = "Last year attended" } })
                @Html.ValidationMessageFor(model => model.HighSchoolYear, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.HighSchoolState, htmlAttributes: new { @class = "control-label required-marker" })
                @Html.EditorFor(model => model.HighSchoolState, new { htmlAttributes = new { @class = "form-control", @placeholder = "State" } })
                @Html.ValidationMessageFor(model => model.HighSchoolState, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-2">
                @Html.LabelFor(model => model.HighSchoolCity, htmlAttributes: new { @class = "control-label required-marker" })
                @Html.EditorFor(model => model.HighSchoolCity, new { htmlAttributes = new { @class = "form-control", @placeholder = "City" } })
                @Html.ValidationMessageFor(model => model.HighSchoolCity, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <div class="row">
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.SchoolDistrict, htmlAttributes: new { @class = "control-label required-marker" })
                @Html.EditorFor(model => model.SchoolDistrict, new { htmlAttributes = new { @class = "form-control", @placeholder= "School District" } })
                @Html.ValidationMessageFor(model => model.SchoolDistrict, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-3">
                @Html.LabelFor(model => model.HighSchoolGrade, htmlAttributes: new { @class = "control-label required-marker" })
                @Html.EditorFor(model => model.HighSchoolGrade, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HighSchoolGrade, "", new { @class = "text-danger" })
            </div>
            <div class="form-group col-md-4">
                @Html.LabelFor(model => model.isLastHighSchoolAttended, htmlAttributes: new { @class = "control-label required-marker" })
                <br />
                @Html.RadioButtonFor(model => model.isLastHighSchoolAttended, true, htmlAttributes: new { @id = "lastAttendedTrue" } ) Yes
                @Html.RadioButtonFor(model => model.isLastHighSchoolAttended, false) No
                @Html.ValidationMessageFor(model => model.isLastHighSchoolAttended, "", new { @class = "text-danger" })
            </div>
        </div>
        
        <br />
        <div class="row">
            <div class="col-md-12">
                <button id="submitButton" type="submit" form="add-hs-form" class="btn btn-success" onclick="processAddHighSchool()">Submit Highschool</button>
                <button id="cancelButton" type="button" class="btn" onclick="hideTarget('school-information');showTarget('add-new-highschool-button')">Cancel</button>
            </div>
        </div>
    </div>
}





