@model IGrad.Models.User.Violation


@using (Ajax.BeginForm("SubmitViolationInfoPartial", "Application", new AjaxOptions()
{
    HttpMethod = "Post",
    UpdateTargetId = "existing-violation-information",
    InsertionMode = InsertionMode.Replace,

}))
{
<div class="">
    <div class="row">
        <div class="form-group col-md-12">
            @Html.CheckBoxFor(model => model.isSuspendedOrExpelled, htmlAttributes: new { @class = "" })
            @Html.LabelFor(model => model.isSuspendedOrExpelled, htmlAttributes: new { @class = "control-label" })
            <br />
            @Html.CheckBoxFor(model => model.hasDiciplanaryStatus, htmlAttributes: new { @class = "" })
            @Html.LabelFor(model => model.hasDiciplanaryStatus, htmlAttributes: new { @class = "control-label" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-4">
            @Html.CheckBoxFor(model => model.hadWeaponViolation, htmlAttributes: new { @class = "" })
            @Html.LabelFor(model => model.hadWeaponViolation, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.dateOfWeaponViolation, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.dateOfWeaponViolation, new { htmlAttributes = new { @class = "form-control datepicker" } })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.CheckBoxFor(model => model.hasUnpaidFine, htmlAttributes: new { @class = "" })
            @Html.LabelFor(model => model.hasUnpaidFine, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="form-group col-md-8">
            @Html.LabelFor(model => model.ExplainUnpaidFine, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ExplainUnpaidFine, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <h2>Other Violation Types</h2>
    <div class="row">
        <div class="form-group col-md-4">
            @Html.CheckBoxFor(model => model.hasOtherViolation, htmlAttributes: new { @class = "" })
            @Html.LabelFor(model => model.hasOtherViolation, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="form-group col-md-8">
            @Html.LabelFor(model => model.ExplainOtherViolation, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.ExplainOtherViolation, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.CheckBoxFor(model => model.hasSexViolation, htmlAttributes: new { @class = "" })
            @Html.LabelFor(model => model.hasSexViolation, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="form-group col-md-8">
            @Html.LabelFor(model => model.explainSexViolation, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.explainSexViolation, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.CheckBoxFor(model => model.hasCriminalViolation, htmlAttributes: new { @class = "" })
            @Html.LabelFor(model => model.hasCriminalViolation, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="form-group col-md-8">
            @Html.LabelFor(model => model.explainCriminalViolation, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.explainCriminalViolation, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.CheckBoxFor(model => model.hasViolentTendicies, htmlAttributes: new { @class = "" })
            @Html.LabelFor(model => model.hasViolentTendicies, htmlAttributes: new { @class = "control-label" })
        </div>
        <div class="form-group col-md-8">
            @Html.LabelFor(model => model.explainViolence, htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(model => model.explainViolence, htmlAttributes: new { @class = "form-control" })
        </div>
    </div>

    <br />
    <div class="row">
        <div class="col-md-12">
            <button id="submitButton" type="submit" class="btn btn-primary" onclick="processAddViolation()">Add Violation</button>
            <button id="cancelButton" type="button" class="btn" onclick="hideTarget('add-violation-information')">Cancel</button>
        </div>
    </div>
</div>
}
