@using IGrad.Models.User;
@model List<Sibling>

<div class="container">
    <h4>Sibling(s)</h4>

    <table class="table table-responsive" id="siblings-table">
        <tr>
            <th>Name</th>
            <th>School</th>
            <th>Grade</th>
            <th>Age</th>
            <th>| Edit</th>
        </tr>
        @foreach (Sibling sibling in Model)
        {
            <tr id="sibling_@sibling.fieldId">
                <td>@sibling.FName @sibling.LName</td>
                <td>@sibling.Grade</td>
                <td>@sibling.School</td>
                <td>@sibling.Age</td>
                <td><input type="submit" value="Delete" onclick="deleteSibling(@sibling.fieldId)"></td>
            </tr>
        }
    </table>

    </div>
