@using IGrad.Models.User;
@model List<Guardian>

<div>
    <h4>Parent / Guardian(s)</h4>
    <hr />
    <table>
        <tr>
            <th>Name</th>
            <th>Phone Number</th>
            <th>Email</th>
            <th>| Edit</th>
        </tr>
        @{foreach (Guardian guardian in Model)
            {
                <tr id="guardian_@guardian.fieldId">
                    <td>@guardian.Name.FName @guardian.Name.LName</td>
                    <td>@guardian.Phone.PhoneNumber</td>
                    <td>@guardian.Email</td>
                    <td><input type="submit" value="Delete" onclick="deleteGuardian(@guardian.fieldId)"></td>
                </tr>
            }
        }
    </table>

</div>

