@using IGrad.Models.User;
@model List<EmergencyContact>

<table class="table table-responsive" id="emergency-contacts-table">
    <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>| Edit</th>
    </tr>
    @foreach (EmergencyContact contact in Model)
    {
                <tr id="ec_@contact.fieldId">
                    <td>@contact.Name.FName @contact.Name.LName</td>
                    <td>@contact.Relationship</td>
                    <td>@contact.EmailAddress</td>
                    <td>(@contact.PhoneNumber.PhoneNumber) @contact.PhoneNumber.PhoneNumber</td>
                    <td><input type="submit" value="Delete" onclick="deleteEmergencyContact(@contact.fieldId)"></td>
                </tr>
    }
</table>
      


