@model List<IGrad.Models.User.HighSchoolInfo>

 
@if (Model != null)
{
    <table id="highschool-info-table" class="table table-striped table-bordered table-responsive">
        <thead>
            <tr>
                <th>Year</th>
                <th>Name</th>
                <th>City</th>
                <th>Grade</th>
                <th>District</th>
                <th>Last attended</th>
                <th class="text-center">Remove</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var hsi in Model)
             {
                <tr id="highSchool_@hsi.fieldId">
                    <td>@hsi.HighSchoolYear</td>
                    <td>@hsi.HighSchoolName</td>
                    <td>@hsi.HighSchoolCity</td>
                    <td>@hsi.HighSchoolGrade</td>
                    <td>@hsi.SchoolDistrict</td>
                    <td id="@(hsi.isLastHighSchoolAttended ? "last-attended" : "\"\"")">@(hsi.isLastHighSchoolAttended ? "Yes" : "No")</td>
                    <td class="text-center">
                        <button class="btn btn-danger" type="submit" onclick="deleteHighSchoolRecord(@hsi.fieldId)">
                            <i class="fas fa-minus-square"></i>
                        </button>
                    </td>
                </tr>
            }
        </tbody>
        
    </table>
}