@model List<IGrad.Models.User.HighSchoolInfo>

@if (Model != null)
{

        <table id="highschool-info-table" class="table table-responsive">
            <tr>
                <th>Year</th>
                <th>Name</th>
                <th>City</th>
                <th>Grade</th>
                <th>Last High School Attended?</th>
                <th>| Edit</th>
            </tr>
            @foreach (var hsi in Model)
            {
                <tr id="highSchool_@hsi.fieldId">
                    <td>@hsi.HighSchoolYear</td>
                    <td>@hsi.HighSchoolName</td>
                    <td>@hsi.HighSchoolCity</td>
                    <td>@hsi.HighSchoolGrade</td>
                    <td>@(hsi.isLastHighSchoolAttended ? "Yes" : "No")</td>
                    <td>@hsi.fieldId</td>
                    <td><input type="submit" value="Delete" onclick="deleteHighSchoolRecord(@hsi.fieldId)"></td>
                </tr>
            }
        </table>

}
