@using IGrad.Models.User;
@model List<EmergencyContact>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js" type="text/javascript"></script>

<table class="table table-responsive" id="emergency-contacts-table">
    <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>| Edit</th>
    </tr>
    @foreach (EmergencyContact contact in Model)
    {
                <tr>
                    <td>@contact.Name.FName @contact.Name.LName</td>
                    <td>@contact.Relationship</td>
                    <td>@contact.EmailAddress</td>
                    <td>(@contact.PhoneNumber.PhoneNumber) @contact.PhoneNumber.PhoneNumber</td>
                    <td>@Html.ActionLink("Delete", "DeleteEmergencyContact", contact)</td>
                </tr>
    }
</table>
      


