@using IGrad.Models.User;
@model List<EmergencyContact>

<table class="table table-striped table-bordered table-responsive" id="emergency-contacts-table">
    <tr>
        <th>Name</th>
        <th>Relationship</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th class="text-center">Edit</th>
    </tr>
    @foreach (EmergencyContact contact in Model)
    {
    <tr id="ec_@contact.fieldId">
        <td>@contact.Name.FName @contact.Name.LName</td>
        <td>@contact.Relationship</td>
        <td>@contact.EmailAddress</td>
        <td>@contact.PhoneNumber.PhoneNumber</td>
        <td class="text-center">
            <button class="btn btn-danger" type="submit" onclick="deleteEmergencyContact(@contact.fieldId)">
                <i class="fas fa-minus-square"></i>
            </button>
        </td>
    </tr>
    }
</table>
      


