@model IGrad.Models.User.HomelessAssistance.HomelessAssistancePreferences

@using (Ajax.BeginForm("SubmitHomelessInfo", "Application", new AjaxOptions()
{
    HttpMethod = "Post",
    UpdateTargetId = "",
    InsertionMode = InsertionMode.Replace,

}, new { @id = "homeless-form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <h4>According to the McKinney-Vento Homeless Assistance Act, 42 U.S.C.11431:</h4>
        <p>
            The term "homeless children and youth" means:
            (i) individuals who lack a fixed, regular, and adequate nighttime residence and includes
            children and youth who are sharing the housing of other persons due to loss of housing,
            economic hardship, or a similar reason; are living in motels, hotels, trailer parks, or
            camping grounds due to the lack of alternative accommodations; are living in emergency
            or transitional shelters; are abandoned in hospitals; or are awaiting foster care
            placement;
        </p>
        <p>
            (ii) Children and youth who have a primary nighttime residence that is a public or private
            place not designed for or ordinarily used as a regular sleeping accommodation for human
            beings;
        </p>
        <p>
            (iii) Children and youth who are living in cars, parks, public spaces, abandoned buildings,
            substandard housing, bus or train stations, or similar settings; and
            </p>
        <p>
            (iv) Migratory children (as such term is defined in section 1309 of the Elementary and
            Secondary Education Act of 1965} who qualify as homeless for the purposes of this
            subtitle because they are living in circumstances described in clauses (I) through (iii).
        </p>
            <div class="form-group">
                @Html.LabelFor(model => model.ContactByPhone, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ContactByPhone)
                        @Html.ValidationMessageFor(model => model.ContactByPhone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactByEmail, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ContactByEmail)
                        @Html.ValidationMessageFor(model => model.ContactByEmail, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ContactByStudentNote, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.ContactByStudentNote)
                        @Html.ValidationMessageFor(model => model.ContactByStudentNote, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Submit" class="btn btn-success" form="homeless-form" onclick="hideTarget('homeless-information')" />
                    <input type="button" value="Cancel"  class="btn btn-default" onclick="hideTarget('homeless-information')" />
                </div>
            </div>
</div>
}

