@model IGrad.Models.User.UserModel
@{
    ViewBag.Title = "iGrad - Language";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/language-form.js")"></script>
<h2>Preferred Language History</h2>

<p>
    Indicate your language preference so we can provide an interpreter or translated documents, free of charge, when you need them.

    All parents have the right to information about their student's education in a language they understand.


@using(Html.BeginForm("SubmitLanguageInfo", "Application", FormMethod.Post, new { enctype = "multipart/form-data" })){
    <div class="container col-md-6 ">
        <div class="row form-group">
            <strong>In what language(s) would your family prefer to communicate with school? *</strong>
            @Html.TextBoxFor(model => model.LanguageHisory.PreferredLanguage, htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="row form-group">
            <strong>What Language did the applicant (student) learn first?</strong>
            @Html.TextBoxFor(model => model.LanguageHisory.UserFirstLanguageLearned, htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="row form-group ">
            <strong>What Language does the applicant (student) use the most at home?</strong>
            @Html.TextBoxFor(model => model.LanguageHisory.StudentPrimaryLanguageAtHome, htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="row form-group">
            <strong>Has the applicant (student) ever received English language development support in a previous school?</strong>
            @Html.TextBoxFor(model => model.LanguageHisory.StudentReceievedEnglishDevelopmentSupport, htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="row form-group">
            <strong>What is the primary language spoken at home, regardless of the language spoken by your child?</strong>
            @Html.TextBoxFor(model => model.LanguageHisory.PrimaryLanguageSpokenAtHome, htmlAttributes: new { @class = "form-control" })
        </div>

        <div class="row col-md-4 form-group">
            <button class="btn btn-lg  btn-success" type="submit">
                Continue..                
            </button>
        </div>
    </div>
  }

 
    


