@model IGrad.Models.User.UserModel
@{
    ViewBag.Title = "iGrad - Language";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript" src="@Url.Content("~/Scripts/language-form.js")"></script>


    <h3>Preferred Language History</h3>
    <small class="form-text required-marker-indicator">* required fields.</small>
    <hr>

    <div class="description-text">
        <p>
            Indicate your language preference so we can provide an interpreter or translated documents, free of charge, when you need them.
            <br />All parents have the right to information about their student's education in a language they understand.
        </p>
    </div>

    @using (Html.BeginForm("SubmitLanguageInfo", "Application", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="">
        <br />

        <!-- RIGHT TO TRANSLATION -->
        <h4 class="bg-info">Right to Translation and Interpretation Services</h4>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.LanguageHisory.PreferredLanguage, htmlAttributes: new { @class = "control-label required-marker" })
                @Html.TextBoxFor(model => model.LanguageHisory.PreferredLanguage, htmlAttributes: new { @class = "form-control", @placeholder = "Prefer language" })
            </div>
        </div>

        <br />


        <!-- EGIBILITY FOR LANGUAGE DEVELOPMENT SUPPORT -->
        <h4 class="bg-info">
            Eligibility for Language Development Support Information about the student's language helps us identify students
            who qualify for support to develop the language skills necessary for success in school.
            Testing may be necessary to detemine if language supports are needed.
        </h4>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.LanguageHisory.UserFirstLanguageLearned, htmlAttributes: new { @class = "control-label required-marker" })
                @Html.TextBoxFor(model => model.LanguageHisory.UserFirstLanguageLearned, htmlAttributes: new { @class = "form-control", @placeholder = "Language" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.LanguageHisory.StudentPrimaryLanguageAtHome, htmlAttributes: new { @class = "control-label required-marker" })
                @Html.TextBoxFor(model => model.LanguageHisory.StudentPrimaryLanguageAtHome, htmlAttributes: new { @class = "form-control", @placeholder = "Primary language" })
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.LanguageHisory.PrimaryLanguageSpokenAtHome, htmlAttributes: new { @class = "control-label required-marker" })
                @Html.TextBoxFor(model => model.LanguageHisory.PrimaryLanguageSpokenAtHome, htmlAttributes: new { @class = "form-control", @placeholder = "Primary at home" })
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.LanguageHisory.StudentReceievedEnglishDevelopmentSupport, htmlAttributes: new { @class = "control-label required-marker" })
                <br />
                @Html.RadioButtonFor(model => model.LanguageHisory.StudentReceievedEnglishDevelopmentSupport, true) Yes
                @Html.RadioButtonFor(model => model.LanguageHisory.StudentHasReceivedFormalEducationOutsideUS, false) No
            </div>
        </div>

        <br />

        <!-- PRIOR EDUCATION -->
        <h4 class="bg-info">Prior Education</h4>
        <div class="row">
            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.LanguageHisory.StudentHasReceivedFormalEducationOutsideUS, htmlAttributes: new { @class = "control-label required-marker" })
                <br /><small> (Kindergarten - 12 grade)</small>
                <br />
                @Html.RadioButtonFor(model => model.LanguageHisory.StudentHasReceivedFormalEducationOutsideUS, true) Yes
                @Html.RadioButtonFor(model => model.LanguageHisory.StudentHasReceivedFormalEducationOutsideUS, false) No
            </div>

            <div class="form-group col-md-6">
                @Html.LabelFor(model => model.LanguageHisory.StudentStartingGradeInUS, htmlAttributes: new { @class = "control-label required-marker" })
                <br /><small> (Kindergarten - 12 grade)</small>
                @Html.TextBoxFor(model => model.LanguageHisory.StudentStartingGradeInUS, htmlAttributes: new { @class = "form-control", @placeholder = "Grade level" })
            </div>
        </div>

        <div class="form-row">
            <div class="pull-right">
                <button class="btn btn-primary btn-lg btn-success" type="submit">
                    Continue
                    <i class="fas fa-caret-right"></i>
                </button>
            </div>
        </div>
    </div>
    }



