@model IGrad.Models.User.UserModel
@{
    ViewBag.Title = "iGrad | Personal Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<progress max="100" value="0" id="application-progress"></progress>

@using (Html.BeginForm("GetNewApplication", "Application", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <h4>Personal Information</h4>
    <small class="form-text required-marker-indicator">* required fields.</small>
    <hr>

    <!-- STUDENT NAME START -->
    <div class="form-row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Name.FName, htmlAttributes: new { @class = "control-label required-marker" })
            @Html.EditorFor(model => model.Name.FName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First Name", required = "required" } })
            @Html.ValidationMessageFor(model => model.Name.FName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-1">
            @Html.LabelFor(model => model.Name.MName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Name.MName, new { htmlAttributes = new { @class = "form-control", @placeholder = "M.I.", required = "required" } })
            @Html.ValidationMessageFor(model => model.Name.MName, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Name.LName, htmlAttributes: new { @class = "control-label required-marker" })
            @Html.EditorFor(model => model.Name.LName, new { htmlAttributes = new { @class = "form-control", @placeholder = "Last", required = "required" } })
            @Html.ValidationMessageFor(model => model.Name.LName, "", new { @class = "text-danger" })
        </div>
        <!-- need to add this to model/controller? -->
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.Name.PreviousName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Name.PreviousName, new { htmlAttributes = new { @class = "form-control", @placeholder = "First M.I. Last"} })
            @Html.ValidationMessageFor(model => model.Name.PreviousName, "", new { @class = "text-danger" })
        </div>
    </div>
    <!-- STUDENT NAME END -->
    <!-- STUDENT BIRTHPLACE START -->
    <div class="form-row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label required-marker" })
            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "form-control datepicker", @placeholder = "First", required = "required" } })
            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.BirthPlace.City, htmlAttributes: new { @class = "control-label required-marker" })
            @Html.EditorFor(model => model.BirthPlace.City, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            @Html.ValidationMessageFor(model => model.BirthPlace.City, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.BirthPlace.State, htmlAttributes: new { @class = "control-label required-marker" })
            @Html.DropDownListFor(model => model.BirthPlace.State, Model.BirthPlace.StateSelectList, "Select", htmlAttributes: new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.BirthPlace.State, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.BirthPlace.Country, htmlAttributes: new { @class = "control-label required-marker" })
            @Html.DropDownListFor(model => model.BirthPlace.Country, Model.BirthPlace.CountrySelectList, "Select a country", htmlAttributes: new { @class = "form-control", required = "required" })
            @Html.ValidationMessageFor(model => model.BirthPlace.Country, "", new { @class = "text-danger" })
        </div>
    </div>
        <div class="container">
        <!-- **********RACE AND ETHNICITY START********** -->
        <div class="form-row">
            <div class="form-group">
                @Html.LabelFor(model => model.ConsideredRaceAndEthnicity, htmlAttributes: new { @class = "control-label required-marker" })
                <button class="btn btn-info" type="button" data-toggle="modal" data-target="#race-modal" id="race-button">
                    Student Race
                </button>

                <div class="modal fade" id="race-modal" tabindex="1" role="dialog" aria-labelledby="raceModal" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                            <div class="modal-header">
                                <h4 class="modal-title" id="raceModalLabel">Select all that apply</h4>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>

                            <div class="model-body">
                                <div id="accordion" role="tablist" aria-multiselectable="true">
                                    <!-- ASIAN CARD START -->
                                    <div class="card">
                                        <div class="card-header" role="tab" id="asian-heading">
                                            <h5 class="mb-0">
                                                <a href="#asian" data-toggle="collapse" data-parent="#accordion" aria-expanded="true">
                                                    Asian
                                                </a>
                                            </h5>
                                        </div>	<div id="asian" class="collapse" role="tabpanel" aria-labelledby="asian-heading">
                                            <div class="card-block">
                                                <div class="form-row">
                                                    <ul>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isAsianIndian, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isAsianIndian, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isCambodian, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isCambodian, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isChinese, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isChinese, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isFilipino, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isFilipino, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isHmong, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isHmong, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isIndonesian, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isIndonesian, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isJapanese, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isJapanese, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isKorean, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isKorean, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isLaotian, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isLaotian, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isMalaysian, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isMalaysian, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isPakistani, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isPakistani, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isSingaporean, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isSingaporean, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isTaiwanese, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isTaiwanese, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isThai, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isThai, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isVietnamese, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isVietnamese, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                        <li>
                                                            @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isOtherAsian, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                                                            @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isOtherAsian, htmlAttributes: new { @class = "row control-label" })
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- ASIAN CARD END -->

                                </div>
                           </div>
                       </div>

                            <div class="modal-footer">
                                <h1>this is footer</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
       </div>
        <!-- **********RACE AND ETHNICITY END********** -->
        <!-- STUDENT BIRTHPLACE END -->

        <div class="form-row">
            <div class="row col-md-6 form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label required-marker" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", required = "required" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="row col-md-6 form-group">
                @Html.LabelFor(model => model.PhoneInfo.PhoneNumber, htmlAttributes: new { @class = "control-label required-marker" })
                @Html.EditorFor(model => model.PhoneInfo.PhoneNumber, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            </div>
        </div>



        <div class="container">
            <div class="form-row">
                <div class="pull-right">
                    <button class="btn btn-primary btn-lg btn-success" type="submit">
                        Continue
                        <i class="fas fa-caret-right"></i>
                    </button>
                </div>
            </div>
        </div>
}