@model IGrad.Models.User.UserModel
@{
    ViewBag.Title = "GetNewApplication";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("GetNewApplication", "Application", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    
    <div class="row form-group">
        <div class="col-md-4 form-group">
            @Html.LabelFor(model => model.Name.FName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Name.FName, new { htmlAttributes = new { @class = "form-control formtextbox" } })
            @Html.ValidationMessageFor(model => model.Name.FName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4 form-group">

            @Html.LabelFor(model => model.Name.MName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Name.MName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name.MName, "", new { @class = "text-danger" })

        </div>
        <div class="col-md-4 form-group">
            @Html.LabelFor(model => model.Name.LName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Name.LName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name.LName, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4 form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-4 form-group">
            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new { @class = "datepicker" } })
            
            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4 form-group">
            @Html.LabelFor(model => model.BirthPlace.City, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.BirthPlace.City, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BirthPlace.City, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-4 form-group">
            @Html.LabelFor(model => model.BirthPlace.Country, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.BirthPlace.Country, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BirthPlace.Country, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row form-group">
        <div class="col-md-4 form-group">
            @Html.LabelFor(model => model.BirthPlace.State, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.BirthPlace.State, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.BirthPlace.State, "", new { @class = "text-danger" })
        </div>
        @Html.LabelFor(model => model.ConsideredRaceAndEthnicity, htmlAttributes: new { @class = "control-label" })
        <div class="col-md-8 well-lg well">
          <div class="form-group">
                <div class="row col-md-6">
                    @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isCentralAmerican, htmlAttributes: new { @class = "row control-label col-md-6" })
                    @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isCentralAmerican, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                </div>
                <div class="row col-md-6">
                    @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isCuban, htmlAttributes: new { @class = "control-label col-md-3" })
                    @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isCuban, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                </div>
                <div class="row col-md-6">
                    @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isDominican, htmlAttributes: new { @class = "control-label" })
                    @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isDominican, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                </div>
                <div class="row col-md-6">
                    @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isLatinAmerican, htmlAttributes: new { @class = "control-label" })
                    @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isLatinAmerican, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                </div>
                <div class="row col-md-6">
                    @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isMexican, htmlAttributes: new { @class = "control-label" })
                    @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isMexican, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                </div>
                <div class="row col-md-6">
                    @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isNotHispanicOrLatino, htmlAttributes: new { @class = "control-label " })
                    @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isNotHispanicOrLatino, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                </div>
                <div class="row col-md-6">
                    @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isOtherHispanicLatino, htmlAttributes: new { @class = "control-label " })
                    @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isOtherHispanicLatino, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                </div>
                <div class="row col-md-6">
                    @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isPuertoRican, htmlAttributes: new { @class = "control-label " })
                    @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isPuertoRican, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                </div>
                <div class="row col-md-6">
                    @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isSouthAmerican, htmlAttributes: new { @class = "control-label " })
                    @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isSouthAmerican, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                </div>
                <div class="row col-md-6">
                    @Html.LabelFor(model => model.ConsideredRaceAndEthnicity.isSpaniard, htmlAttributes: new { @class = "control-label " })
                    @Html.CheckBoxFor(model => model.ConsideredRaceAndEthnicity.isSpaniard, new { htmlAttributes = new { @class = "form-control race-checkbox" } })
                </div>
            </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="row col-md-4 form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="row col-md-4 form-group">
                @Html.LabelFor(model => model.PhoneInfo.PhoneNumber, htmlAttributes: new { @class = "control-label " })
                @Html.EditorFor(model => model.PhoneInfo.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="row col-md-4 form-group">
                <button class="btn btn-lg btn-success" type="submit">
                    Continue
                </button>
        </div>
    </div>
        
}


