@model IGrad.Models.RegisterViewModel
@{
    ViewBag.Title = "Apply To iGrad";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@Styles.Render("~/Content/homepage.css")

<header class="contact-head">
    <div class="container">
        <h4 class="text-right">(253) 373-4723</h4>
    </div>
</header>

<div class="wrapper">
    <nav class="navbar navbar-default bottom-wrapper" role="navigation">
        <div class="container">
            <div id="home-nav">
                <ul id="left-nav" class="nav navbar-nav">
                    <li><a id="logo" href="./"><img src=@Url.Content("~/media/images/logo-bg.png") alt=""></a></li>
                    <li id="apply-igrad"><a href="">Apply to iGrad</a></li>
                </ul>
                <div id="right-nav" class="nav navbar-nav pull-right">
                    <!--@Html.ActionLink("Login", "Login", "Account", new { @class="btn btn-login"})-->
                    <a href="@Url.Action("Login", "Account")" class="btn btn-login">
                        <i class="fas fa-lock"></i>
                        Login
                    </a>
                </div>
            </div>
        </div>
    </nav>
</div>

<div class="container landscape">
    <div class="col-md-12 test">
        <div class="col-md-6 test1">
            <div class="form-box">
                <div class="form-bottom">
                    <div class="container">
                        @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary("", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <button type="submit" id="submitbttn" class="btn btn-signup">
                                    <i class="fas fa-pencil-alt"></i>
                                    APPLY NOW
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 igrad-external">
            <a id="igrad-external" href="https://www.kent.k12.wa.us/iG" target="_blank">
                <span id="external-icon"><i class="fas fa-external-link-alt"></i></span>
                iGRAD HOME
            </a>
        </div>
    </div>
</div>

<div class="container">
    <div class="short-intro text-center">
        <h2>A Step Closer To Your Dream</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
    </div>
</div>
<br>

<!-- The Modal -->
<div class="container-popup" id="container-popup" style="visibility: hidden">
    <div class="popup">
        <img src="@Url.Content("~/media/images/loading.gif")" style="width: 130px; height: 130px;"/>
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">
// Get the modal
    var modal = document.getElementById('container-popup');

var btn = document.getElementById("submitbttn");

    // When the user clicks on the button, open the modal
    btn.onclick = function () {
        modal.style.visibility = "visible";
    modal.style.display = "block";
    }
</script>