@model IGrad.Models.RegisterViewModel
@{
    ViewBag.Title = "iGrad | Register New Account";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}

@Styles.Render("~/Content/Login.css")

<header class="logo-head">
    <a id="login-logo" href="@Url.Action("Index", "Home")"><img src=@Url.Content("~/media/images/igradlogo.png")></a>
    <h4>Register for iGrad</h4>
</header>

<div class="form-box">
    <div class="form-bottom">
        <div class="container">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="form-header">Create a new account</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })


                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <button type="submit" class="btn btn-signin">REGISTER</button>
            }
        </div>
    </div>
</div>

<p class="call-to-apply">
    @Html.ActionLink("Log in as an existing user", "Login")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
